<%= form_with(model: journal, local: true) do |form| %>

  <div class="field">
    <%= form.label :picture %>
    
    <%= form.file_field :picture, id: :journal_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
