.flexbox-container
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    
    
    
%ul.flex-container.nowrap
  %li.flex-item 1
%ul.flex-container.nowrap
  %li.flex-item 2
%ul.flex-container.nowrap
  %li.flex-item 3
