%ul.flex-container.spacing
  %li.flex-item.space spacing
%ul.flex-container.spacing
  %li.flex-item.space spacing
%ul.flex-container.center
  %li.flex-items 6
%ul.flex-container.nowrap
  %li.flex-items 1
  %li.flex-items 2
  %li.flex-items 3
  %li.flex-items 4
  %li.flex-items 5
